ion-content{
    --ion-background-color:#fff;
    font-family: Arial, Helvetica, sans-serif;

}

ion-card{
    margin-top: 50px;
    background: transparent;
    box-shadow: none;
    text-align: center;

    ion-card-title{
        color:#242020;
        font-size: 30px;
    }

    ion-card-subtitle{
        color:#BBBBBB;
        font-size: 14px;
        font-weight: 400; 
    }

    ion-card-content{
        margin-top: 30px;

        ion-item{
            --ion-item-background:transparent;
            --border-width:0;
            --inner-border-width:0;
            --highlight-color-focused:none;
            margin-bottom: 15px;
            position: center;

            ion-label{
                width:257px;
                height: 42px;
                border-radius: 15px;
                border:  1px solid #198645;
                font-size: 14px;
                font-weight: 300;
                color:#555B5B;
                --padding-start:30px;
            }

            ion-select{
                width:257px;
                height: 42px;
                border-radius: 15px;
                border:  1px solid #198645;
                font-size: 14px;
                font-weight: 300;
                color:#555B5B;
                --padding-start:30px;
            }

            ion-input{
                width:257px;
                height: 42px;
                border-radius: 15px;
                border:  1px solid #198645;
                font-size: 14px;
                font-weight: 300;
                color:#555B5B;
                --padding-start:30px;
            }

        }

    }
    
    ion-tab{
        margin-bottom: 0px;
        position:static;
        box-shadow:#242020
        
        
    }
    .bottom-section{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    ion-button{
    height: 53px;
    width: 247px;
    font-size: 14px;
    text-transform: none;
    --background:#198645;
      font-weight: 400;
    --border-radius: 15px !important;
      color:#fff;
    }

    span{
        margin-top: 10px;
        font-weight: 330;
        a{
            font-weight: 400;
        }
    }
    }
  

}

