<ion-header>
</ion-header>

<ion-content>

  <div class="background-container">

    <div class="background-filter">

    <ion-card>
      <img src="../../assets/LogoFruits.png" />
     <ion-card-header>
       <ion-card-title>
        <strong>Bem vindo, agricultor</strong>
       </ion-card-title>
       <ion-card>
        <div align="justify"> Aqui você poderá cadastrar os produtos disponíveis diariamente na sua produção, aumentando o alcance e as possibilidades de vendas de seus produtos! </div>
       </ion-card>
     </ion-card-header>
     <ion-card-content>
      <ion-button (click)="loginPage()">
        Entrar
       </ion-button>
     </ion-card-content>
    </ion-card>
    </div>
  </div>

</ion-content>