<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Aplicativo Muda Meu Mundo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-card>
  <ion-card-header>
    <ion-card-title>
      Olá, agricultor! Seja bem-vindo
    </ion-card-title>
    <ion-card-subtitle>
      Nesse aplicativo você poderá cadastrar os produtos disponíveis diariamente na sua produção! Veja abaixo como usar o aplicativo pra não perder nenhum detalhe!
    </ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ion-card-title slot=""></ion-card-title>
  </ion-card-content> 
  </ion-card>


  <ion-tabs>
    <ion-tab-bar slot="Perfil" (click)="navigateToUserPage()">
      <ion-tab-button tab="perfil">
        <ion-icon name="person-circle"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="Produtos" (click)="navigateToProductPage()">
        <ion-icon name="leaf-outline"></ion-icon>
        <ion-label>Produtos</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="home">
        <ion-icon name="information-circle"></ion-icon>
        <ion-label>Como usar?</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
